# Database 

DATABASE_URL=

# better-auth 
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# social providers
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

#resend
RESEND_API_KEY=

EMAIL_FROM=

# stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
